.striped {
  background-color: #f9f9f9;
}

.scrollable-cell {
  max-height: 150px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.ellipsis {
  width: 72%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.p-datatable .p-datatable-tbody > tr > td {
  padding: 0.5rem 0.5rem !important;
}

:host ::ng-deep .p-message-custom {
  max-width: 20rem;
}

.p-datatable .p-datatable-tbody > tr {
  cursor: pointer !important;
}
