<p-toolbar *ngIf="isShowToolBar">
  <div class="p-toolbar-group-left">
    <h5 class="fw-bold fs-3">
      <span> {{ tableName | replace: "_":" " | titlecase}}</span>
    </h5>
  </div>

  <div class="p-toolbar-group-right">
    <button *ngIf="showImportExcelButton" pButton pRipple type="button" class="p-button mr-2" icon="pi pi-file-excel"
            label="Import  Data" (click)="importExcel()" style="min-width: 135px;"></button>

    <button *ngIf="showAddButton" pButton pRipple type="button" class="p-button-success" style="min-width: 150px" icon="pi pi-plus"
            label="{{addButtonText??'Add Data'}}" (click)="create()"></button>
  </div>
</p-toolbar>
<div class="row">
  <div class="col-md-12 col-sm-12 pt-3">
    <p-table
      #dt
      [value]="rows"
      [columns]="columns"
      [loading]="loading"
      [showLoader]="true"
      [globalFilterFields]=globalFilterFields
      [paginator]="!backendPagination"
      [rowHover]="true"
      [rowsPerPageOptions]="[25, 50, 100]"
      [rows]="25"
      [scrollable]="true"
      [showCurrentPageReport]="true"
      (onRowSelect)="onCheckboxChangeFn($event)"
      (onRowUnselect)="unSelect($event)"
      (selectionChange)="onSelect($event)"
      (onFilter)="onTableFilter($event)"
      (onPage)="frontEndPaginator($event)"
      (onRowDblclick)="show($event)"
      (onHeaderCheckboxToggle)="onSelectAllHandler($event)"
      [totalRecords]="totalNumberOfRecords"
      [(selection)]="checkedRows"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      data-testId="table"
      responsiveLayout="scroll"
      frozenWidth="10rem"
      dataKey="{{getId()}}"
      styleClass="p-datatable-striped p-datatable-gridlines p-table-custom"
      [autoLayout]="true"
    >

      <ng-template pTemplate="caption">
        <div class="flex">
          <button type="button" pButton pRipple icon="pi pi-file-excel" (click)="exportExcel()"
                  class="p-button-success mr-2" pTooltip="XLS" tooltipPosition="bottom"></button>
        </div>
      </ng-template>


      <ng-template pTemplate="caption">
        <div class="row table-header ">
          <div class="col-md-4">
            <button type="button" pButton pRipple icon="pi pi-file-excel" (click)="exportExcel()"
                    class="p-button-success mr-2" pTooltip="Export to Excel" tooltipPosition="bottom" [loading]="isExportingExcel"></button>
            <button *ngIf="showExportZipped" type="button" pButton pRipple icon="pi pi-download"
                    (click)="exportZippedFile()" class="p-button mr-2" pTooltip="Export As Zipped" tooltipPosition="bottom"
                    [loading]="isExportingZip"></button>
            <button *ngIf="showExportSPSS" type="button" pButton pRipple icon="pi pi-cloud-download"
                    (click)="exportSPSSFile()" class="p-button-warning mr-2" pTooltip="Export As SPSS" tooltipPosition="bottom"
                    [loading]="isExportingSPSS"></button>
            <button *ngIf="canDelete() && showDeleteMultipleButton" pButton pRipple type="button" class="p-button-danger mr-2" icon="pi pi-trash"
                    pTooltip="Delete Selected" (click)="deleteMultipleButton($event)" [disabled]="isDeletingMultiple"></button>
            <button *ngIf="isCollectionTaggable && checkedRows.length > 0" (click)="showPositionDialog('left')" pButton pRipple icon="pi pi-plus" label="Add Tag" class="p-button-primary" style="width: 25%"></button>
          </div>
          <div class="col-md-4">
            <p-message *ngIf="isExportingSPSS || isExportingZip" severity="info" text="{{exportStatus}}"  styleClass="mr-2 p-message-custom"></p-message>
          </div>
          <div class="col-md-4">
            <div class="row">
              <div class="col-md-8">
                <span class="p-input-icon-left">
                  <i class="pi pi-search"></i>
                  <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                         placeholder="Global Search"/>
                </span>
              </div>
              <div class="col-md-4">
                <div class="fw-light fs-6">{{ disableEmptyColumnsStatus ? 'Show' : 'Hide' }} Empty Columns</div>
                <p-inputSwitch [(ngModel)]="disableEmptyColumnsStatus" (onChange)="disableEmptyColumnsChange($event)"></p-inputSwitch>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngIf="showCheckboxColumn"  pFrozenColumn style="flex: 0 0 3rem" class="p-2 d-flex justify-content-center checkbox">
            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
          </th>
          <th pFrozenColumn style="flex: 0 0 3rem" class="p-2 d-flex justify-content-center">#</th>
          <th *ngIf="showActionColumn" pFrozenColumn style="flex: 0 0 3rem" class="p-2 d-flex justify-content-center">
            <button pButton pRipple type="button" icon="pi pi-cog"
                    class="p-button-rounded  p-button-text"></button>
          </th>
          <th [style.min-width.px]="200" *ngFor="let col of columns" pSortableColumn="{{ getKeyOrId(col)  }}"
              [ngStyle]="{'display':col.label === 'Id' || col.label === ' Id' || col.label === '_id' || col.label === 'id' || getKeyOrId(col) === 'userId'? 'none' : '' }"
              class="p-2">
            <div class="ellipsis">
              <span [pTooltip]="col.label">{{col.label}}</span></div>
            <div *ngIf="!(getKeyOrId(col).toLowerCase().includes('date') || getKeyOrId(col).toLowerCase().includes('lastupdated'))">
              <div [ngSwitch]="col.type">
                <div *ngSwitchCase="'datetime'">
                  <p-sortIcon
                    field="{{getKeyOrId(col)}}"
                  ></p-sortIcon>
                  <p-columnFilter
                    type="date"
                    field="{{ getKeyOrId(col) }}"
                    display="menu"
                  ></p-columnFilter>
                </div>
                <div *ngSwitchCase="'number'">
                  <p-sortIcon
                    field="{{getKeyOrId(col)}}"
                  ></p-sortIcon>
                  <p-columnFilter
                    type="numeric"
                    field="{{ getKeyOrId(col) }}"
                    display="menu"
                  ></p-columnFilter>
                </div>
                <div *ngSwitchCase='"radio"'>
                  <p-sortIcon
                    field="{{getKeyOrId(col)}}"
                  ></p-sortIcon>
                  <p-columnFilter
                    type="boolean"
                    field="{{ getKeyOrId(col) }}"
                    display="menu"
                  ></p-columnFilter>
                </div>
                <div *ngSwitchCase="'string'">
                  <p-sortIcon
                    field="{{getKeyOrId(col)}}"
                  ></p-sortIcon>
                  <p-columnFilter
                    type="text"
                    field="{{ getKeyOrId(col) }}"
                    display="menu"
                  ></p-columnFilter>
                </div>
                <div *ngSwitchCase="'select' || 'select_multiple'">
                  <p-sortIcon
                    field="{{getKeyOrId(col)}}"
                  ></p-sortIcon>
                  <p-columnFilter field="{{getKeyOrId(col)}}" matchMode="equals" display="menu">
                    <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                      <p-dropdown [ngModel]="value" [options]="col.options" (onChange)="filter($event.value)"
                                  placeholder="Any">
                        <ng-template let-option pTemplate="item">
                          <span>{{option.label}}</span>
                        </ng-template>
                      </p-dropdown>
                    </ng-template>
                  </p-columnFilter>
                </div>
                <div *ngSwitchCase="'checklist'">
                  <p-sortIcon
                    field="{{getKeyOrId(col)}}"
                  ></p-sortIcon>
                  <p-columnFilter field="{{getKeyOrId(col)}}" matchMode="contains" display="menu" [showMatchModes]="true"
                                  [showOperator]="false" [showAddButton]="false">
                    <ng-template pTemplate="header">
                      <div class="px-3 pt-3 pb-0">
                        <span class="font-bold">Select</span>
                      </div>
                    </ng-template>
                    <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                      <p-multiSelect [ngModel]="value" [options]="col.multiSelectOptions" placeholder="Any"
                                     (onChange)="filter($event.value)" optionLabel="label" optionValue="value">
                        <ng-template let-option pTemplate="item">
                          <div class="p-multiselect-representative-option">
                            <span class="ml-1">{{option.label}}</span>
                          </div>
                        </ng-template>
                      </p-multiSelect>
                    </ng-template>
                  </p-columnFilter>
                </div>
                <div *ngSwitchDefault>
                  <p-sortIcon
                    field="{{getKeyOrId(col)}}"
                  ></p-sortIcon>
                  <p-columnFilter
                    type="text"
                    field="{{ getKeyOrId(col) }}"
                    display="menu"
                  ></p-columnFilter>
                </div>
              </div>
            </div>

            <div *ngIf="(getKeyOrId(col).toLowerCase().includes('date') || getKeyOrId(col).toLowerCase().includes('lastupdated'))">
              <p-sortIcon
                field="{{getKeyOrId(col)}}"
              ></p-sortIcon>
              <p-columnFilter
                type="date"
                field="{{ getKeyOrId(col) }}"
                display="menu"
              ></p-columnFilter>
            </div>

          </th>
          <th alignFrozen="right" pFrozenColumn style="flex: 0 0 10rem" class="p-2"
              *ngIf="saveButton || stopJobButton || startJobButton">
            ACTIONS
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
        <tr (dblclick)="show(rowData)">
          <td *ngIf="showCheckboxColumn" pFrozenColumn style="flex: 0 0 3rem" class="p-2 d-flex checkbox justify-content-center">
            <div>
              <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
            </div>
          </td>
          <td pFrozenColumn style="flex: 0 0 3rem" class="p-2 d-flex justify-content-center">{{getIndex(rowIndex)}}</td>
          <td *ngIf="showActionColumn" style="flex: 0 0 3rem" class="p-2 d-flex justify-content-center">
            <button pButton pRipple type="button" icon="pi pi-trash"
                    class="p-button-rounded p-button-danger p-button-text"
                    (click)="confirm($event, rowData, 'singleDelete')"></button>
          </td>
          <td [style.min-width.px]="200" *ngFor="let col of columns" class="p-2 d-flex justify-content-start"
              [ngClass]="{'d-none': col.label === 'Id' || col.label === ' Id' || col.label === '_id' || col.label === 'id' || getKeyOrId(col) === 'userId'}">
            <div *ngIf="!isDate(rowData[getKeyOrId(col)]) && isObject(rowData[getKeyOrId(col)])" class="ellipsis">
              <div [pTooltip]="rowData[getKeyOrId(col)]['value']">{{ rowData[getKeyOrId(col)]["value"] }}</div>
            </div>
            <div *ngIf="!isDate(rowData[getKeyOrId(col)]) && !isImage(rowData[getKeyOrId(col)]) && !isObject(rowData[getKeyOrId(col)])
                  && !isArray(rowData[getKeyOrId(col)]) && !isUniqueId(rowData[getKeyOrId(col)])" class="ellipsis">
              <div [pTooltip]="rowData[getKeyOrId(col)]">{{ rowData[getKeyOrId(col)]}}</div>
            </div>
            <div *ngIf="isDate(rowData[getKeyOrId(col)])">{{ rowData[getKeyOrId(col)] | date: 'mediumDate'}}</div>
            <div *ngIf="col.type=='validations'" class="text-danger">
              {{ rowData[getKeyOrId(col)] }}
            </div>
          </td>
          <td alignFrozen="right" pFrozenColumn style="flex: 0 0 10rem" class="p-2"
              *ngIf="saveButton || stopJobButton || startJobButton">
            <button *ngIf="saveButton" pButton icon="pi pi-check" class="p-button-primary p-button-success mr-2 p-1"
                    (click)="save(rowData)"></button>
            <button *ngIf="startJobButton" pButton type="button" icon="pi pi-play" class="p-button-success mr-1 p-1"
                    (click)="startJob(rowData)"></button>
            <button *ngIf="stopJobButton" pButton type="button" icon="pi pi-stop-circle"
                    class="p-button-danger mr-1 p-1"
                    (click)="stopJob(rowData)"></button>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="8">No Records found.</td>
        </tr>
      </ng-template>
    </p-table>
    <p-paginator *ngIf="backendPagination"
                 [rows]="pageSize"
                 [showCurrentPageReport]="true"
                 currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                 [showFirstLastIcon]="true"
                 [first]="(first == 0) ? pageSize : first"
                 [totalRecords]="totalNumberOfRecords"
                 [rowsPerPageOptions]="[25, 50, 100]"
                 (onPageChange)="backEndPaginator($event)"
    >
    </p-paginator>
  </div>
</div>


<p-confirmPopup></p-confirmPopup>

<p-dialog *ngIf="showDetailsDialogType === 'data'" header="Record Details"
          [(visible)]="showDialog && showDefaultDialogForDetails"
          [breakpoints]="{'960px': '75vw'}"
          [style]="{width: '75vw'}"
          [draggable]="false"
          [resizable]="false"
          [modal]="true"
          [closable]="false">
  <div class="row">
    <div class="col-md-10"></div>
    <div class="col-md-2 mb-2 d-flex justify-content-end">
      <button *ngIf="showDialog" pButton type="button" icon="pi pi-pencil" class="p-button-info mr-1 p-1" label="Edit Record" (click)="edit(doubleClickedRow)"></button>
    </div>
  </div>
  <p-table *ngIf="showDialog" [value]="getObjectEntries(doubleClickedRow)" styleClass="p-datatable-gridlines">
    <ng-template pTemplate="header">
      <tr>
        <th>Key</th>
        <th>Value</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item>
      <tr>
        <td><b>{{ item[0]}}</b></td>
        <td>{{ item[1] }}</td>
      </tr>
    </ng-template>
  </p-table>


  <ng-template pTemplate="footer">
    <p-button (click)="showDialog=false" label="Close" styleClass="p-button-primary"></p-button>
  </ng-template>
</p-dialog>

<p-dialog *ngIf="showDetailsDialogType === 'form' && showDialog" header="Form - {{ doubleClickedRow['name'] }}"
          [(visible)]="showDialog"
          [breakpoints]="{'960px': '75vw'}"
          [style]="{width: '75vw'}"
          [draggable]="false"
          [resizable]="false"
          [modal]="true" [closable]="false">
  <div class="row">
    <div class="col-md-12">
      <app-task [processData]="doubleClickedRow.variables"></app-task>
    </div>
  </div>

  <ng-template pTemplate="footer">
    <p-button (click)="showDialog=false" label="Close" styleClass="p-button-primary"></p-button>
  </ng-template>
</p-dialog>
